::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #3b5e3c;
}

.hidden-el {
  display: none !important;
}
.view {
  animation: fade 0.3s ease;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Minimized Sidebar */
#side.mini {
  width: 4.5rem;
}
#side.mini .s-text {
  display: none;
}
